<style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
      }
      
      h1, h2, h3 {
        color: #222529;
        text-align: center;
        margin-bottom: 10px;
      }
      
      h1 {
        font-size: 24px;
        font-weight: bold;
      }
      
      h2 {
        font-size: 18px;
        font-weight: normal;
      }
      
      h3 {
        font-size: 14px;
        font-weight: normal;
        color: #666;
      }
      
      /* Center title and subtitle */
      .title-container {
        text-align: center;
        margin-bottom: 20px;
      }
      
      .title-container h1, .title-container h2 {
        display: inline-block;
        margin: 0 10px;
      }
      
      /* Form Styles */
      
      .input {
        max-width: 750px;
        margin: 40px auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      .input.field {
        margin-bottom: 20px;
      }
      
      .input.sp {
        font-weight: bold;
        color: #333;
      }
      
      .input span.sp {
        width: 150px;
        display: inline-block;
      }
      
      .input input[type="text"],.input input[type="email"],.input input[type="password"] {
        width: 100%;
        height: 40px;
        padding: 10px;
        border: 1px solid #ccc;
      }
      
      .input input[type="submit"] {
        background-color: #222529;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .input input[type="submit"]:hover {
        background-color: deepskyblue;
      }
      
      .input ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .input ul li {
        color: #red;
        font-size: 12px;
        margin-bottom: 10px;
      }
      
      .input a {
        margin-bottom: 20px;
        text-decoration: none;
        color: #337ab7;
      }
      
      .input a:hover {
        color: #23527c;
      }
</style>
{% include "parts/navbar.html" %}
<h1> User info <h1>
<h2> You can update your profile from here </h2>
<form method="POST" class="input">
    {% csrf_token %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="input">
        {% for field in form %}
            <div class="field">
                <span class="sp">{{field.label}}  : </span>   <span class="sp">{{ field }}<span>
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <br>
        {% endfor %}
        <a href="{% url "update_password" %}"> Update Password<a/>
            <br>
        <a href="{% url "update_shipping" %}"> Update Shipping address <a/>
    <br>
    <h3> if you change your older data is gone and you will start to use the new one </h3>
    <br>
    <input type="submit" value='submit'>
    </div>
</form>