  
  .swr {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  li{
    font-size: 30px;
  }
  .sora {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition-duration: 0.5s;
  }
  
  .sora:hover {
    transition-duration: 1s;
    transform: scale(1.1);
  }

    @media only screen and (min-width: 1920px) {
     }

     @media only screen and (min-width:1600)and(max-width:1919px){
      .swr{
        transform: scale(0.9);
      }
     }
     
     @media only screen and (min-width: 1280px) and (max-width: 1600px) {
      .swr{
        transform: scale(0.7);
      }
     }
     
     @media only screen and (min-width: 720px) and (max-width: 1279px) {
      .swr{
        transform: scale(0.6);
      }
     }
     
     /* For extra small screens (e.g., mobile) */
     @media only screen and (max-width: 719px) {
      .swr{
        transform: scale(0.4);
      }
     }