:root{
    --maincolor:#222529;
    --backcolor:#f2f2f2;
}

.card {
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
    background-color: var(--backcolor);
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--maincolor);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card .image-section img {
    transition-duration: 1s;
    width:  250px;
    height: 250px;
  }
  .card .image-section  img:hover {
    width:300px;
    height: 300px;
    transition-duration: 1s;
}
  
  .card .header-section {
    margin: 20px;
  }
  
  .card .header-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card .description-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid var(--maincolor);
    border-radius: 5px;
    box-shadow: 1px 1px 7px var(--maincolor);
}
  
  .card .description-section p {
    font-size: 16px;
    line-height: 1.5;
    color:var(--maincolor);
    background-color: var(--backcolor);
  }
  
  .card .details-section {
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .card .details-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .card .details-section li {
    margin: 10px;
  }
  .btn2, .btn3 {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: #222529;
    color: #fff;
    margin: 0 5px;
  }
  
  .btn2:hover, .btn3:hover {
    background-color: #23527c;
  }
  
  .btn2:active, .btn3:active {
    background-color: #1d4a7a;
  }
  
  .qty {
    width: 40px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
  }
  .btn{
    width: 25%;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--maincolor);
    color: #ffffff;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  .btn:hover {
    transition-duration: 0.7s;
    color: 222529;
    background-color: #f2f2f2; 
  }

  .card .footer-section {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
  }
  
  .card .footer-section p {
    margin-bottom: 10px;
    color: var(--maincolor);
    background-color: var(--backcolor);
  }
  .comments{
    display: flex;
    flex-direction: column;
  }
  .comments h1{
  color: var(--maincolor);
  }
  .comment{
    margin: 20px;
  }
  .nd{
    font-size: 15px;
    margin: 10px;
    margin-bottom: 20px;
    color: #222529;

  }
  .cbody{
    margin: 10px;
    font-size: 18px;
  }